# Temporary & IDE files
data/scratch_folder/
**/__pycache__/
.vscode/
.DS_Store
.venv/

# Heavy installation & model files
Miniconda3-latest-Linux-x86_64.sh
*.pt

# Ignore all video and audio outputs (keeps .json files!)
*.mp4
*.wav
*.avi
*.mov
*.mp3
*.m4a
*.zip